<h1>All Links</h1>

<span class='filter'>
  <%= link_to_if params[:read].present?, 'all', links_path %> |
  <%= link_to_if params[:read] != 'true', 'read', links_path(read: true) %> |
  <%= link_to_if params[:read] != 'false', 'unread', links_path(read: false) %>
</span>

<%= render 'form', link: @new_link %>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr class='link'>
        <td>
          <%= link_to link.url, link.url, target: '_blank' %>
        </td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
